service firebase.storage {
  match /b/firebase-kev.appspot.com/o {
    match /{allPaths=**} {
      allow write: if request.auth.uid == userId;
      allow read;
    }
  }
}
