<footer class="mdl-mega-footer"
style="background-color:#fff;
    padding: 0px;
    right: 0px;
    left: 0px;
    width: 100%;
    padding:8px;
    bottom: 0px;
    margin: 0px;">
    <div class="mdl-mega-footer--middle-section">
        <div class="mdl-mega-footer--drop-down-section">
            <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
            <h1 class="mdl-mega-footer--heading"><strong>Account</strong></h1>
            <ul class="mdl-mega-footer--link-list">
                <li><a ng-disabled href="#/account">Account</a></li>
                <li><a class="header-logo" style="text-decoration: none" href="#/login">
                    <span class="icon fontawesome-user scnd-font-color"></span>
                    <span> Login </span>
                </a></li>

                <!--<li><a href="#/course-detail/-KIMnC0W_09BA9RQrjmq">2016 Classes</a></li>-->
                <!--<li><a target="_blank" href="https://statsdsu.firebaseapp.com">2016 Data Camp</a></li>-->
            </ul>
        </div>
        <div class="mdl-mega-footer--drop-down-section">
            <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
            <h1 class="mdl-mega-footer--heading"><strong>Menus</strong></h1>
            <ul class="mdl-mega-footer--link-list">
                <li><a href="#/material/-KR9qDDwpdMOtaWZRBg2">People</a></li>
                <li><a href="#/material/-KQb5LzELmkGc9xj72Yu">Publication</a></li>
                <li><a href="#/material/-KREpyle5XmJC_m0QFEL">Software</a></li>
                <li><a href="#/material/-KR9yxbTd0z1wX3X8khK">Education</a></li>
                <!--<li><a href="#/store-policy">About</a></li>-->
            </ul>
        </div>
        <div class="mdl-mega-footer--drop-down-section">
            <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
            <h1 class="mdl-mega-footer--heading"><strong>Reach to Us</strong></h1>
            <ul class="mdl-mega-footer--link-list">
                <li><a href="#/material/-KR9qDDwpdMOtaWZRBg2">eMail</a></li>
                <!--<li><a href="#/people">eMail</a></li>-->
                <!--<li><a href="#/message">Message</a></li>-->
                <!--<li><a href="#/store-policy">Reach to Us</a></li>-->
            </ul>
        </div>
        <div class="mdl-mega-footer--drop-down-section">
            <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
            <h1 class="mdl-mega-footer--heading"><strong>Projects</strong></h1>
            <ul class="mdl-mega-footer--link-list">
                <li><a target="_blank" href="http://bcloud.org:3000">Arraysearch</a></li>
                <li><a target="_blank" href="https://statsdsu.firebaseapp.com">2016 Data Camp</a></li>
            </ul>
        </div>

    </div>
    <div class="mdl-mega-footer--bottom-section">
        <div class="mdl-logo" style="color:black">Xijin Ge <br>Xijin.Ge@sdstate.edu<br>South Dakota State University<br>Department of Mathematics and Statistics</div>

    </div>


</footer>
