<md-content layout="column" style="overflow: inherit; position:relative; background-color: white;" flex >
    <div class="profile-container" style="border-bottom: 2px solid black;"><profile-header></profile-header></div>
    <div class='menu-box' layout="column">
        <section layout style="margin-top: 8px; height:100%; color:black;">
            <div flex-xs="100" flex-gt-sm="60">
                <div layout="column" layout-align="start start">
                    <div ng-class="{'md-title':xsScreen, 'md-display-1':!xsScreen, }" style="margin: 60px 0 30px 0; font-weight: bold; padding-top: 0px;">Kevin S. Portfolio</div>
                    <div style="max-width: 600px;">
                        <p>
                            Kevin S. is an professional software engineer at<br>
                            Department of Mathematics and Statistics, South Dakota State University. He currently develops and conducts research in the general area of bioinformatics and e-Learning platform for statistics subject.
                            <br><br>
                            Currently, the main focus of his project is the role of stablizing the platform and take charge of end-user satisfaction.
                            Another emphasis is the development of tools and resources for the interpretation of high-throughput genomics data.
                            Kevin S. also enjoys working with many collaborators in a supporting role and open source group.
                            <br><br>
                            His position is supported by National Science Foundation (NSF), National Institutes of Health (NIH), state of South Dakota, Sanford Health etc.
                            <br/>
                        </p>
                    </div>
                </div>
            </div>
            <div hide-xs flex-xs="0" flex-gt-sm="40" layout-padding><canvas width="370" height="480"></canvas></div>
        </section>
        <hr class="main-hr"/>
    </div>
    <div class='menu-box' layout="column">
        <section layout style="margin-top: 8px; height:100%; color:black;">
            <div flex="30" ng-class="{'md-title':xsScreen, 'md-display-1':!xsScreen, }" style="font-weight: bold; padding-top: 0px;"> Education </div>
            <span flex="5"></span>
            <div>
                <ul>
                    <li><strong>Bachelor of Science Computer Science at SDSU</strong> (2007~ December 2010) </li>
                    <li><strong>Research Assistant HPC at TTU</strong> (January 2011~ August 2013) </li>
                    <li><strong>Master of Computer Science at SDSU</strong> (September 2013~ December 2014) </li>
                    <li><strong>Master of Data Science at SDSU</strong> (August 2016~ Expected December 2017)</li>
                </ul>
            </div>
        </section>
        <hr class="main-hr"/>
    </div>

    <div class='menu-box' layout="column">
        <section layout style="margin-top: 8px; height:100%; color:black;">
            <div flex="30" ng-class="{'md-title':xsScreen, 'md-display-1':!xsScreen, }" style="font-weight: bold; padding-top: 0px;"> Experiences </div>
            <span flex="5"></span>
            <div>
                <ul>
                    <li><strong>Project Manager, South Dakota State University Mathematic Dept. Brooking, SD </strong> 2015~Present</li>
                    <li><strong>CTO, YBROAD, Jeju South Korea</strong> 2014~Present</li>
                    <li><strong>Full stack Developer, Open Access Technologies International Minneapolis, MN </strong> 2013~2015</li>
                    <li><strong>High Performance Computing Researcher, Oakridge national Laboratory Oakridge, TN</strong> 2011~2012 </li>
                    <li><strong>Software Engineer, Open International Access Brookings, SD</strong>  2008~2010</li>
                </ul>
            </div>
        </section>
        <hr class="main-hr"/>
    </div>

    <div class='menu-box' layout="column">
        <section layout style="margin-top: 8px; height:100%; color:black;">
            <div flex="30" ng-class="{'md-title':xsScreen, 'md-display-1':!xsScreen, }" style="font-weight: bold; padding-top: 0px;">Recent Work <span class="md-caption"><a href="#/material/-KR9qDDwpdMOtaWZRBg2">link</a></span></div>
            <span flex="5"></span>
            <div>
                <ul>
                    <li>Kiosk Web Application (ionic)</li>
                    <li>e-Learning Platform (SDSU Mathmetics & Statistics Department)</li>
                    <li>Digital Signage</li>
                    <li>ERP Platform in Production</li>
                </ul>
            </div>
        </section>
        <hr class="main-hr"/>
    </div>

    <div class='menu-box' layout="column">
        <section layout style="margin-top: 8px; height:100%; color:black;">
        <div flex="30" ng-class="{'md-title':xsScreen, 'md-display-1':!xsScreen, }" style="font-weight: bold; padding-top: 0px;"> Past Work </div>
        <span flex="5"></span>
        <div>
            <ul>
                <li>Prototyping ERP Platform</li>
                <li>Prototyping E-commerce</li>
                <li>Educational Web Application</li>
                <li>Smart Gird Web Application</li>
            </ul>
        </div>
        </section>
        <hr class="main-hr"/>
    </div>
    <div class='menu-box' layout="column">
        <section layout style="margin-top: 8px; height:100%; color:black;">
            <div flex="30" ng-class="{'md-title':xsScreen, 'md-display-1':!xsScreen, }" style="font-weight: bold; padding-top: 0px;">Tech Stacks </div>
            <span flex="5"></span>
            <div layout layout-xs="column" layout-margin>
                <div flex>
                    <div class="md-body-2">Currently Focusing on:</div>
                    <ul>
                        <li>Angular 1 & 2</li>
                        <li>Firebase NoSQL</li>
                        <li>MongoDB</li>
                        <li>NodeJS</li>
                        <li>Docker Integration</li>
                        <li>R Computational Restful API</li>
                    </ul>
                </div>
                <div flex>
                    <div class="md-body-2">Research Focusing on:</div>
                    <ul flex>
                        <li>Statistical Modeling</li>
                        <li>Statistics Education Contents</li>
                        <li>Statistics R Lecture</li>
                        <li>JavaScript</li>
                        <li>T-SQL</li>
                        <li>Web Dev Lecture</li>
                    </ul>
                </div>
                <div flex>
                    <div class="md-body-2">Previously Focusing on</div>
                    <ul flex>
                        <li>MSSQL</li>
                        <li>XML</li>
                        <li>CSS</li>
                        <li>JavaScript</li>
                        <li>T-SQL</li>
                        <li>Testing</li>
                    </ul>
                </div>
            </div>
        </section>
        <hr class="main-hr"/>
    </div>
    <div class='menu-box' layout="column" style="margin-top: 8px; height:100%; color:black;">
        <div ng-class="{'md-title':xsScreen, 'md-display-1':!xsScreen, }" style="font-weight: bold; padding-top: 0px;">Timeline <span class="md-caption"><a href="#/timelines">more</a></span></div>
        <div class="timeline-container">
            <ul class="timeline">
                <li ng-class-even="'timeline-inverted'" ng-repeat="tl in timelines">
                    <div class="timeline-badge">
                        <a><i class="fa fa-circle" ></i></a>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>{{tl.title}}</h4>
                        </div>
                        <div class="timeline-body">
                            <p>{{tl.desc}}</p>
                        </div>
                        <div class="timeline-footer">
                            <p class="text-right">{{tl.date}}</p>
                        </div>
                    </div>
                </li>
                <li class="clearfix no-float"></li>
            </ul>
        </div>

    </div>
    <div class="profile-container" style="border-top: 2px solid black;">
        <div class="main-container">
          <footer-stat></footer-stat>
      </div>
    </div>
</md-content>
